<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
-->
  <div id="container">

    <form [formGroup]="addressForm">
      <ion-grid>

        <ion-row>
          <ion-input required formControlName="address" placeholder="Dirección"></ion-input>
        </ion-row>
        <ion-row>
          <ion-col>
   
           <ion-input required formControlName="country" placeholder="Pais"></ion-input>
          </ion-col>

          <ion-col>
  
            <ion-select required formControlName="provincia" placeholder="Provincia">
             <ion-select-option>Barcelona</ion-select-option>
             <ion-select-option>Girona</ion-select-option>
             <ion-select-option>Lleida</ion-select-option>
             <ion-select-option>Tarragona</ion-select-option>
           </ion-select>
           </ion-col>
           
         </ion-row>

         <ion-row>
          <ion-col>
            <ion-input required formControlName="city" placeholder="Ciudad"></ion-input>
           </ion-col>
          <ion-col>
           <ion-input required formControlName="postalCode" placeholder="Código Postal" type="number"></ion-input>
          </ion-col>
         </ion-row>
      </ion-grid>

      <ion-button type="submit" [disabled]="addressForm.invalid" (click)="goToStepThree()" color="primary">Continuar</ion-button>

    </form>

    <ion-button (click)="navCtrl.back()" color="light">Back</ion-button>
  </div>
</ion-content>
