<!--
<ion-header>
  <ion-toolbar>
    <ion-title>step-three</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
<div id="container">

      <ion-label>
        Confirma tus datos
      </ion-label>
      <ion-text>
        <p>{{order.user.name}} {{order.user.surname}}</p>
        <p>{{order.user.email}}</p>
        <p>{{order.user.phone}}</p>
        <p>{{order.address}}</p>
        <p>{{order.postalCode}} {{order.city}}</p>
        
      </ion-text>
      <div>
        <ion-button type="submit" (click)="goToStepFour()" color="primary">Continuar</ion-button>
      </div>
      
      <ion-button (click)="navCtrl.back()" color="light">Back</ion-button>
</div>
  




