.checkout-steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .dash {
        color: gray;
    }

    .step {
        height: 25px;
        width: 25px;
        margin: 0px 5px;
        border: 1px solid gray;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        color: gray;

        &.active {
            background: #41ccb4;
            color: white;
        }

        &.finished {
            text-indent: -30px;
            overflow: hidden;
            border-color: #41ccb4;
            background: url("/assets/checkmark.svg") no-repeat -1px -1px #41ccb4;
        }
    }
}


