<ion-app>
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="checkout-steps">
        <div class="step" [ngClass]="{'active': isActive(1), 'finished': isFinished(1)}">1</div>
        <div class="dash"> — </div>
        <div class="step" [ngClass]="{'active': isActive(2), 'finished': isFinished(2)}">2</div>
        <div class="dash"> — </div>
        <div class="step" [ngClass]="{'active': isActive(3), 'finished': isFinished(3)}">3</div>
        <div class="dash"> — </div>
        <div class="step" [ngClass]="{'active': isActive(4), 'finished': isFinished(4)}">4</div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
