#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-label {

  text-align: left;
  margin: 5px;
  color: grey;

}

ion-input {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;


}

form {
  margin-bottom: 5px;
}
