<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
-->
  <div id="container">
    <form [formGroup]="userDates">
   <ion-grid>
     <ion-row>
       <ion-col>

        <ion-input required formControlName="name" placeholder="Nombre"></ion-input>
       </ion-col>

       <ion-col>
  
        <ion-input required formControlName="surname" placeholder="Apellidos"></ion-input>
       </ion-col>
        
      </ion-row>

      <ion-row>
        <ion-label position="fixed">Nacimiento</ion-label>
        <ion-input type="date" required formControlName="birthday"></ion-input>
      </ion-row>

      <ion-row>
        <ion-label position="fixed">E-mail</ion-label>
        <ion-input type="email" required formControlName="email" placeholder="example@example.com"></ion-input>
      </ion-row>
      <ion-row>
        <div class="error-message" *ngIf="userDates.get('email').hasError('email')">
          El email no es válido
        </div>
      </ion-row>

      <ion-row>
        <ion-label position="fixed">Teléfono</ion-label>
        <ion-input type="tel" required formControlName="phone" type="number"></ion-input>
      </ion-row>
      </ion-grid>


      <ion-button type="submit" [disabled]="userDates.invalid" (click)="goToStepTwo()" color="primary">Continuar</ion-button>
    </form>
  </div>
</ion-content>
