#container {
    text-align: center;
  width: 100%;
    position: absolute;
    left: auto;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;

    width: 100%;
    text-align: center;
    color: #8c8c8c;
  
  }
  
  #container a {
    text-decoration: none;
  }