<!--
<ion-header>
  <ion-toolbar>
    <ion-title>step-four</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-label>Gracias por tu compra {{order.user.name}}</ion-label>
    <p>
      Pedido realizado con éxito
    </p>
  </div>
</ion-content>
